body{
    background-color: rgb(33, 34, 70);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 10px;
    color: rgb(206, 225, 242);
    
}
h1{
    font-size: 40px;
    background-color: rgb(41, 43, 95);
}
img{
    width: 700px;
    margin-bottom: 30px;
}
a{
    padding: 10px 20px;
    background-color: rgb(41, 43, 95);
    color: rgb(139, 174, 204);
    text-decoration: none;
    border-radius: 10px;
}
a:hover{
    background-color: rgb(49, 50, 102);
}
#sobre{
    margin-top: 30px;
}
p{
    padding: 0 200px;
}
h5{
   margin-top: 50px;
}
span{
    color: rgb(205, 84, 84);
}